@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

.class_fadein {
  animation: fadein linear;
  animation-timeline: view();
}

/* scroll() */

@keyframes fadein {
  from {
    scale: 0;
  }
  50% {
    scale: 1.1;
  }
  to {
    scale: 1;
  }
}
